.sideBar {
  width: 700px;
  margin-right: 50px;
  overflow: hidden;
  max-height: 85vh;
}

.sideBarScroll::-webkit-scrollbar {
  width: 1em;
}

.sideBarScroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
.contentContainer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  color: #ffffff;
  background-color: rgb(122, 121, 121);
  margin: 0;
}
.filter {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 50px;
}

.mainContent {
  width: 1500px;
}
