.mainContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  font-family: Arial, sans-serif;
}
.generalContent {
  display: flex;
  align-items: flex-end;
}
.title {
  font-weight: 0;
}
.rated {
  border: solid 1px black;
}
.description {
  flex: 1 1 auto;
}
.poster {
  margin-right: 20px;
  align-self: flex-start;
  border-radius: 5px;
}
.ratings {
  display: flex;
  justify-content: space-evenly;
}
.singleRating {
  text-align: center;
  border-right: solid 1px rgb(175, 174, 174);
  padding-right: 100px;
}
.singleRating:last-child {
  border-right: none;
}
